<center>
  <h1>SHELBY COMPANY LIMITED</h1>
</center>
<div id="menu">
  {{> menu}}
</div>

<div class="container">
  Thông tin nhóm:
  <ul>
    <li>
      Huỳnh Trí Thông
      <ul>
        <li>
          MSSV: 52000719
        </li>
        <li>
          Email: 52000719@student.tdtu.edu.vn
        </li>
      </ul>
    </li>
    <li>
      Chung Tấn Can
      <ul>
        <li>
          MSSV: 52000542
        </li>
        <li>
          Email: 52000542@student.tdtu.edu.vn
        </li>
      </ul>
    </li>
    <li>
      Trịnh Thúy Vi
      <ul>
        <li>
          MSSV: 52000611
        </li>
        <li>
          Email: 52000611@student.tdtu.edu.vn
        </li>
      </ul>
    </li>
  </ul>
</div>