<div class="d-flex justify-content-center">
  <div class="container">
    <h1>Đăng nhập</h1>
    <form method="post" action="/login">
      <label for="username">Tên đăng nhập:</label>
      <input type="text" id="username" name="username">
      <br>
      <label for="password">Mật khẩu:</label>
      <input type="password" id="password" name="password">
      <br>
      <div class="invalid-feedback mt-3">
        {{Err}}
      </div>

      <input type="submit" value="Đăng nhập">
    </form>
  </div>
</div>