<div class="row">
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="form-signin w-100 m-auto">
            <form style="max-width: 500px;" class="m-auto" method="post" action="/admin/AdminChangePassword">
                <img class="mb-4" src="/images/logo.png" alt="" width="72" height="57">
                <div class="row justify-content-md-center">
                    <div class="col-8">
                        <h1 class="h3 mb-3 fw-normal text-center">Change Admin Password</h1>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" value="{{body.password}}">
                    <label for="floatingInput">New Password</label>
                    <div class="valid-feedback mt-3" style="display:block">
                        {{message}}
                    </div>
                </div>
                <button class="btn btn-primary w-100 py-2" type="submit">Change</button>
                <p class="mt-5 mb-3 text-body-secondary">COPYRIGHT © 2023 NHÓM 54</p>
            </form>
        </main>
    </div>
    
</div>