<div class="modal fade" id="newEmployee" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5">Add new employee</h1>
                <button id="addEmployeeClose" type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <main class="form-signin w-100 m-auto">
                        <form style="max-width: 500px;" class="m-auto" id="addEmployeeForm">
                            <div class="row mb-3">
                                <label for="floatingInput" class="col-sm-3 col-form-label">Name</label>
                                <input id="addFormName" type="text" class="form-control" name="name" value="">
                                <div class="invalid-feedback mt-3" id="addEmployeeNameErr"></div>
                            </div>
                            <div class="mb-3 row">
                                <label for="floatingInput" class="col-sm-3 col-form-label">Email</label>
                                <input id="addFormEmail" type="email" class="form-control" name="email" value="">
                                <div class="invalid-feedback mt-3" id="addEmployeeEmailErr"></div>
                            </div>
                            <div class="row mb-3">
                                <label for="floatingSelect" class="col-sm-3 col-form-label">Role</label>
                                <select id="addFormRole" class="form-control" name="role">
                                    <option value="1">Operator</option>
                                    <option value="2">Driver</option>
                                </select>
                                <div class="invalid-feedback mt-3" id="addEmployeeRoleErr"></div>
                            </div>
                        </form>
                    </main>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="addEmployee(event)">Add</button>
            </div>
        </div>
    </div>
</div>