<!-- Change Status dialog -->
<div class="modal fade" id="deleteBus" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete bus</h4>
                <button id="deleteBusClose" type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input id="deleteBusId" type="text" class="form-control" name="id" hidden value="">
                <span> 
                    Bạn có muốn xóa dữ liệu này không?
                </span>
                <div class="invalid-feedback mt-3" id="deleteProductErr"></div>
                <!-- Note -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteBus()">Delete</button>
            </div>
        </div>
    </div>
</div>