{{!-- <div class="col-6 col-sm-4 col-md-3 col-lg-2" id="sidebar-wrapper"> --}}
<div style="width:16%" id="sidebar-wrapper">
    <!-- Sidebar Logo: start -->
    <div id="sidebar-logo-wrapper">
        <div class=" d-flex py-3 justify-content-center align-items-center">
            <img src="/images/bootstrap-logo.png" style="height: 10vh; aspect-ratio: 4/3;">
        </div>
    </div>
    <!-- Sidebar Logo: end -->

    <div class="list-group list-group-flush">
        <!-- List of Nav: start -->
        <a class="list-group-item list-group-item-action border-0" href="/admin">
            <i class="fa-solid fa-gauge fa-xl"></i>
            <span class="ms-3 fs-5 fw-bold">Dashboard</span>
        </a>

        <a class="list-group-item list-group-item-action border-0" href="/admin/products">
            <i class="fa-solid fa-box fa-xl" style="width:24px"></i>
            <span class="ms-3 fs-5 fw-bold">Products</span>
        </a>

        <a class="list-group-item list-group-item-action border-0" href="/admin/employees">
            <i class="fa-solid fa-user-tie fa-xl"></i>
            <span class="ms-3 fs-5 fw-bold">Employees</span>
        </a>

        <a class="list-group-item list-group-item-action border-0">
            <i class="fa-solid fa-message fa-xl"></i>
            <span class="ms-3 fs-5 fw-bold">Messages</span>
        </a>

        <a class="list-group-item list-group-item-action border-0">
            <i class="fa-solid fa-gear fa-xl"></i>
            <span class="ms-3 fs-5 fw-bold">Settings</span>
        </a>

        <a href="/login" class="mt-auto list-group-item list-group-item-action">
            <i class="fa-solid fa-right-from-bracket fa-xl"></i>
            <span class="ms-3 fs-5 fw-bold">Logout</span>
        </a>
        <!-- List of Nav: end -->

    </div>

</div>