<div class="row">
    <div class="d-flex align-items-center py-4 bg-body-tertiary">
        <main class="form-signin w-100 m-auto">
            <form style="max-width: 500px;" class="m-auto">

                <a href="/"><img class="mb-4" src="/images/logo.png" alt="" width="72" height="57"></a>
                <div class="row justify-content-md-center">
                    <div class="col-8">
                        <h1 class="h3 mb-3 fw-normal text-center">Change Password</h1>
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input id="old" type="password" class="form-control" name="cpassword" value="">
                    <label for="floatingInput">Current Password</label>
                    <div id="oldErr" class="invalid-feedback mt-3" style="display:block">

                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input id="new" type="password" class="form-control" name="password" value="">
                    <label for="floatingInput">New Password</label>
                    <div id="newErr" class="invalid-feedback mt-3" style="display:block">

                    </div>
                </div>
                <div id="message" class="m-3">

                </div>
                <button class="btn btn-primary w-100 py-2" type="button" onclick="changePassword(event)">Change</button>
                <p class="mt-5 mb-3 text-body-secondary">COPYRIGHT © 2023 NHÓM 54</p>
            </form>
        </main>
    </div>
    <script>
        function changePassword(ev) {
            ev.preventDefault()
            $("#oldErr").text('')
            $("#newErr").text('')
            $("#message").html('')
            let oldpass = $("#old").val()
            let newpass = $("#new").val()
            console.log(oldpass, newpass)
            fetch('/users/change-password', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    old: oldpass,
                    new: newpass
                }),
            })
                .then(response => response.json()) // Assuming the server responds with JSON
                .then(data => {
                    if (data.success) {
                        console.log(data)
                        if (data.message) {
                            $("#message").html(`<div class="valid-feedback mt-3" style="display:block">
                                ${data.message}
                            </div>`)
                        }
                        $("#oldErr").text('')
                        $("#newErr").text('')

                    } else {
                        console.log(data)
                        if (data.message) {

                            $("#message").html(`<div class="invalid-feedback mt-3" style="display:block">
                                ${data.message}
                            </div>`)
                        }
                        if (data.oldErr) {
                            $("#oldErr").text(data.oldErr)
                        }
                        if (data.newErr) {
                            $("#newErr").text(data.newErr)
                        }
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</div>